.agreement {
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 15px;
  color: #081B4B;
  max-width: 620px;

  h2 {
    margin: 0;
  }

  .actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 10px 14px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background: #0069ff;
      cursor: pointer;

      &:hover {
        background: lighten(#0069ff, 5%);
      }
    }

    .disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}