.header {
  display: flex;
  padding: 40px 120px;
  background: #081B4B;
  align-items: center;
  column-gap: 20px;

  h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
    font-weight: 700;
  }
}