.button {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #0069ff;
  color: #fff;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: lighten(#0069ff, 5%);
  }
}

.delete {
  background-color: #ff3300;

  &:hover {
    background-color: lighten(#ff3300, 5%);
  }
}

.cancel {
  background-color: transparent;
  border: solid 1px rgba($color: #000000, $alpha: 0.2);
  color: rgba($color: #000000, $alpha: 0.8);

  &:hover {
    background-color: transparent;
    border: solid 1px rgba($color: #000000, $alpha: 0.3);
  }
}